<!-- Landing -->
<div class="container container-fluid">
    <div class="main2 row image-responsive">

        <div style="position: realtive;" class="col-xs-6">
            <h2>North West<br><span ">Craft Coffee Co.</span></h2>

        </div>
        <!--<div id="topper "></div>-->
        <div id="triangle-topleft"> </div>

        <div class="col-xs-10 " style="text-align: center; z-index: 20; " id="main3 ">

            <h3><em>We really hate to "name drop ",<em></h3>
			<h5 style="padding-bottom: 15%; " class="lead ">but you'll never guess whose beans we have!</h5>
		</div>
		</div>
   </div>
			<!-- HERO TEXT -->

<div class="triangle-up "></div>

	
      

 	<!-- Life -->
<div class="roasteries ">
	<div class="triangle-down "></div>
	<div class="padding "></div>
	 	<div class="row " >
              <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1" style="text-align: center; z-index: 20; ">
 			<h1 >ROASTERIES</h1>
</div>
</div>
<div class="row">
   <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1" style="text-align: center; z-index: 20; ">
             <hr>

</div>
             </div>
            </div>
 			<!-- Hr Line -->
             <div class="row ">

			<div class="col-xs-10 " style="text-align: center; z-index: 20; ">

 			 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 			tempor . Ut enim ad minim veniam,
 			quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non
 			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
            </div>
</div>

            

 
  <div id="roasters " class="container ">


    <div class="row text-center ">
      <div id="mugs " class="col-md-4 ">
        <div class="row "> 
          <div style="background: rgba(246, 251, 251, .1); padding-top: 5%; margin-left: 1%; margin-right: 1%;
                    " class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter ">
            <img src="img/coffeeBag.jpg " class="pull-top " style="width: 200px; " alt="image ">


            <h2>Rocky Mountain Roasters</h2>
            <p>Boise ID </p>
            <a>
              <p class="btn " ng-click="show=! show ">Read more...</p>
            </a>
            <div ng-show="show ">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus commodi ratione laudantium, asperiores cumque dolor! Atque velit repellat fugit praesentium neque commodi totam earum! Vitae doloribus recusandae pariatur, reiciendis quidem!</p>
            </div>

          </div>
        </div>
      </div>

      <div id="mugs " class="col-md-4 ">
        <div class="row ">
          <div style="background: rgba(246, 251, 251, .1); padding-top: 5%; " class="col-md-10 col-md-offset-1 wrapper-default
                    wrapper-xs wrapper-shadow no-gutter ">
            <img src="img/coffeeBag.jpg " class="pull-top " style=" width: 200px; " alt="image ">


            <h2>The Portland Perk</h2>
            <p>Portland OR</p>
            <a>
              <p class="btn " ng-click="dow=! dow ">Read more...</p>
            </a>
            <div ng-show="dow ">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sequi harum reiciendis eius amet, veniam praesentium ut accusantium architecto dignissimos! Veniam voluptatem amet perferendis, possimus odio repellat itaque suscipit dolorem.</p>
            </div>
          </div>

        </div>
      </div>

      <div id="mugs " class="col-md-4 ">
        <div class="row team ">
          <div style="background: rgba(246, 251, 251, .1); padding-top: 5%; " class="col-md-10 col-md-offset-2 wrapper-default
                    wrapper-xs wrapper-shadow no-gutter ">
            <img src="img/coffeeBag.jpg " class="pull-top " style="width: 200px; " alt="image ">
            <h2>Coffee Perk</h2>
            <p>Walla Walla WA</p>
            <a>
              <p class="btn " ng-click="how=! how ">Read more...</p>
            </a>
            <div ng-show="how ">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima animi blanditiis voluptatem, magni omnis incidunt suscipit iste voluptate provident saepe tempore dicta tenetur distinctio velit inventore et quasi temporibus id!</p>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
             </div>
             </div>
 			
	 	
	 	<div class="padding "></div>
	 	<div class="triangle-up "></div>
 	</div>

 	<!-- Service -->
 	<div class="service ">
 	<div class="triangle-down "></div>
 		<div class="padding "></div>
 		<h1 class="text-center ">OUR SERVICE</h1>
		<!-- Hr Line -->
		<div class="row ">
			<div class="large-2 large-offset-5 small-4 small-offset-4 columns "><hr></div>
		</div><br><br>
 		<div class="row ">
 			<div class="large-4 columns ">
 				<div class="row ">
 					<div class="large-2 columns ">
 						<i class="fa fa-2x fa-bar-chart right " aria-hidden="true "></i>
 					</div>
 					<div class="large-10 columns ">
 						<h4>HIGH</h4>
 						 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor.</h5><h5>
 					</h5></div>
 				</div>
 			</div>
 			<div class="large-4 columns ">
 				<div class="row ">
 					<div class="large-2 columns ">
 						<i class="fa fa-2x fa-area-chart " aria-hidden="true "></i>
 					</div>
 					<div class="large-10 columns ">
 						<h4>AREA</h4>
 						 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor. </h5><h5>
 					</h5></div>
 				</div>
 			</div>
 			<div class="large-4 columns ">
 				<div class="row ">
 					<div class="large-2 columns ">
 						<i class="fa fa-2x fa-signal " aria-hidden="true "></i>
 					</div>
 					<div class="large-10 columns ">
 						 <h4>SIGNAL</h4>
 						 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor. </h5><h5>
 					</h5></div>
 				</div>
 			</div>
 		
 			<div class="large-4 columns ">
 				<div class="row ">
 					<div class="large-2 columns ">
 						<i class="fa fa-2x fa-wifi right " aria-hidden="true "></i>
 					</div>
 					<div class="large-10 columns ">
 						<h4>WIFI</h4>
 						 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor. </h5><h5>
 					</h5></div>
 				</div>
 			</div>
 			<div class="large-4 columns ">
 				<div class="row ">
 					<div class="large-2 columns ">
 						<i class="fa fa-2x fa-balance-scale " aria-hidden="true "></i>
 					</div>
 					<div class="large-10 columns ">
 						<h4>SCALE</h4>
 						 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor. </h5><h5>
 					</h5></div>
 				</div>
 			</div>
 			<div class="large-4 columns ">
 				<div class="row ">
 					<div class="large-2 columns ">
 						<i class="fa fa-2x fa-line-chart " aria-hidden="true "></i>
 					</div>
 					<div class="large-10 columns ">
 						<h4>LINE</h4>
 						 <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor. </h5><h5>
 					</h5></div>
 				</div>
 			</div>
 		</div>
 		<div class="padding "></div>
 		<div class="triangle-up "></div>
 	</div>

 	<!-- Sign Up -->
 	<div class="sign-up ">
	 	<div class="triangle-down "></div>
	 	<div class="padding "></div>
 		<br><br>
	 	<div class="row ">
	 		<div class="large-4 large-offset-4 columns ">
				<h4 class="btn ">EXPLORE MORE </h4><h4>
			</h4></div>
	 	</div>
	 	<br><br>
	 	<div class="padding "></div>
	 	<div class="triangle-up "></div>
 	</div>

 	<!-- Prices -->
 	<div class="prices ">
 		<div class="triangle-down "></div>
 		<div class="padding "></div>
 		<h1 class="text-center ">OUR PRICES</h1>
		<!-- Hr Line -->
		<div class="row ">
			<div class="large-2 large-offset-5 small-4 small-offset-4 columns "><hr></div>
		</div><br><br>
 		<div class="row ">
 			<div class="large-4 columns ">
 				<h1>SMALL</h1>
 				 <h5>YEARLY PLAN </h5>
 				<hr>
 				 <h5>-24/7 CUSTUMER SUPPORT </h5>
 				<hr>
 				 <h5>-100 RENTALS </h5>
 				<hr>
 				 <h5>-%25 OFF DISCOUNT </h5>
 				<hr>
 				<h2 class="text-center ">$50</h2>
 				<br>
 				<div class="row ">
				 	<div class="large-12 columns ">
						<h4 class="btn " style="margin: 0; border: 2px solid #666666; ">ADD </h4><h4>
					</h4></div>
	 			</div>
	 			<br>
 			</div>
 			<div class="large-4 columns ">
 				<h1>MEDIUM</h1>
 				 <h5>YEARLY PLAN </h5>
 				<hr>
 				 <h5>-24/7 CUSTUMER SUPPORT </h5>
 				<hr>
 				 <h5>-250 RENTALS </h5>
 				<hr>
 				 <h5>-%50 OFF DISCOUNT </h5>
 				<hr>
 				<h2 class="text-center ">$100</h2>
 				<br>
 				<div class="row ">
				 	<div class="large-12 columns ">
						<h4 class="btn " style="margin: 0; border: 2px solid #666666; ">ADD </h4><h4>
					</h4></div>
	 			</div>
	 			<br>
 			</div>
 			<div class="large-4 columns ">
 				<h1>LARGE</h1>
 				 <h5>YEARLY PLAN </h5>
 				<hr>
 				 <h5>-24/7 CUSTUMER SUPPORT </h5>
 				<hr>
 				 <h5>-500 RENTALS </h5>
 				<hr>
 				 <h5>-%75 OFF DISCOUNT </h5>
 				<hr>
 				<h2 class="text-center ">$300</h2>
 				<br>
 				<div class="row ">
				 	<div class="large-12 columns ">
						<h4 class="btn " style="margin: 0; border: 2px solid #666666; ">ADD </h4><h4>
					</h4></div>
	 			</div>
 			</div>
 		</div>
 		<div class="padding "></div>
 		<div class="triangle-up "></div>
 	</div>

 	<!-- Input -->
 	<div class="container input ">
 		<div class="triangle-down "></div>
 		<div class="padding "></div>
 		<h1 class="text-center ">CONTACT US</h1>
		<!-- Hr Line -->
		<div class="row ">
			<div class="large-2 large-offset-5 small-4 small-offset-4 columns "><hr></div>
		</div><br><br>
 		<div class="row ">
 			<div class="large-4 columns ">
 				<input value="NAME ">
 			</div>
 			<div class="large-4 columns ">
 				<input value="EMAIL ">
 			</div>
 			<div class="large-4 columns ">
 				<input value="PHONE ">
 			</div>
 		</div>
 		<div class="row ">
 			<div class="large-12 columns ">
 				<textarea placeholder="MESSAGE "></textarea>
 			</div>
 		</div>
 		<div class="row ">
		 	<div class="large-12 columns ">
				<h4 class="btn " style="margin: 0 ">APPLY NOW </h4><h4>
			</h4></div>
 		</div>
 		<div class="padding "></div>
 		<div class="triangle-up "></div>
 	</div>



 	<!-- Footer -->
 	<div class="footer container ">
 	<div class="triangle-down "></div>
 	<div class="padding "></div>
 		<div class="row text-center ">
 			<h1>START YOUR AMAZING JOURNEY TODAY</h1>
 			<br><br>
 		</div>
 		<div class="row ">
		 	<div class="large-4 large-offset-4 columns ">
				<h4 class="btn ">APPLY NOW </h4><h4>
			</h4></div>
 		</div>
 		<div class="padding "></div>
 	</div>